<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ asset('assets/css/main.css') }}" type="text/css" rel="stylesheet" />
    <title>{% if page_title is defined %} {{ page_title }} | {% endif %} Netflix</title>
</head>

<header>
    <nav class="navbar fixed-top">
        <a class="navbar-brand" href={{ path('home') }} >
            Netflix
        </a>
        <ul class="nav justify-content-end">
            {% if app.user %}
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('list_movies') }}">Movie</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('list_movies') }}">Profil</a></li>
                {% if app.user.isadmin %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('dashboard') }}">Dashboard</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link nav-btn" href="{{ path('sign_out') }}">logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link nav-btn" href="{{ path('sign_in') }}">Login</a></li>
                <li class="nav-item"><a class="nav-link nav-btn" href="{{ path('sign_up') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<body>