{% include "default/header.html.twig" %}

<div class="container">
<h1>Ajouter un film</h1>
{{ form_start(form) }}
    {{ form_errors(form) }}
    <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div>
        {{ form_label(form.synopsis) }}
        {{ form_errors(form.synopsis) }}
        {{ form_widget(form.synopsis) }}
    </div>
    <div>
        {{ form_label(form.releaseDate) }}
        {{ form_errors(form.releaseDate) }}
        {{ form_widget(form.releaseDate) }}
    </div>
    <div>
        {{ form_label(form.categoryMovie) }}
        {{ form_errors(form.categoryMovie) }}
        {{ form_widget(form.categoryMovie) }}
    </div>
    <div>
        {{ form_row(form.image) }}
    </div>
    <div>
        {{ form_row(form.video) }}
    </div>
{{ form_end(form) }}
</div>
</body>
</html>