{% include "default/header.html.twig" %}

<div class="container">
<h1> Profil : {{ user.username }}</h1>
<p>email : {{ user.email }}</p>
<p>prenom : {{ user.firstName }}</p>
<p>nom : {{ user.lastName }}</p>
<p>date de naissance : {{ user.birthDate|date('Y-m-d') }}</p>
<br/>
<a href="{{ path('delete_user', {'id': user.id}) }}">delete user</a>
</div>
</body>
</html>