<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des users</title>
</head>
<body>
<h1> Profil : {{ user.username }}</h1>
<p>email : {{ user.email }}</p>
<p>prenom : {{ user.firstName }}</p>
<p>nom : {{ user.lastName }}</p>
<p>date de naissance : {{ user.birthDate|date('Y-m-d') }}</p>
<br/>
<a href="{{ path('delete_user', {'id': user.id}) }}">delete user</a>
<br/>
<a href="{{ path('sign_out') }}">logout</a>
</body>
</html>