{% extends "default/layout.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1>Mon profil</h1>
            <div class="col-5">
                <a href="{{ path('edit_profil') }}" class="btn btn-category">Edit</a>
            </div>
        </div>
        <p> username : {{ user.username }}</p>
        <p>email : {{ user.email }}</p>
        <p>prenom : {{ user.firstName }}</p>
        <p>nom : {{ user.lastName }}</p>
        <p>date de naissance : {{ user.birthDate|date('Y-m-d') }}</p>
    </div>

{% endblock %}