{% include "default/header.html.twig" %}

<div class="img-full" style="background-image:url('{{ asset('uploads/images/' ~ movie.image) }}')"></div>

<div class="container">
<h1>{{ movie.name }}</h1>
<p>Synopsis : {{ movie.synopsis }}</p>
<p>Sortie : {{ movie.releaseDate|date('Y-m-d') }}</p>
<p>Catégorie : {{ movie.categoryMovie.name }}</p>

    <video width="400" height="222" controls="controls">
        <source src="{{ asset('uploads/videos/' ~ movie.video) }}" type="video/mp4" />
    </video>
</div>
</div>
</div>
</body>
</html>